Pokemon CMH/*JSON
.DS_Store
Graycode-*.svg
Graycode-*.png
PFEN/Data
PFEN/100K_probable_prime_[0-9][0-9][0-9][0-9].txt
PFEN/100K_probable_prime_[0-9][0-9][0-9][0-9][0-9].txt
PFEN/*.json
*.cert1*
PFEN/backups
__pycache__
rpn-oo-*.tgz
